@model MotoRental.Admin.Models.RentalViewModel

<section class="content-header">
    <h1>
        Aluguel
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Escolher Plano</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> Plano
                                <small class="float-right">@Model.Product.NumberOfDays dias</small>
                            </h4>
                        </div>
                    </div>

                    <div class="row invoice-info">
                        <div name="Description" class="col-sm-12 invoice-col">
                            @Model.Product.Description
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Diária:</th>
                                        <td>R$ @Model.Product.PricePerDay</td>
                                    </tr>
                                    <tr>
                                        <th>Multa por Atraso (@(Model.Product.IsPercent ? "%" : "R$")): </th>
                                        <td>
                                            @(Model.Product.IsPercent ? string.Empty : "R$ ")
                                            @Model.Product.LateFee
                                            @(Model.Product.IsPercent ? " %" : string.Empty)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Quantidade de dias:</th>
                                        <td>@Model.Product.NumberOfDays</td>
                                    </tr>
                                    <tr>
                                        <th>Data Extimada de devolução:</th>
                                        <td>@Model.ExpectedEndDate</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>R$ @Model.Total</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Product.Id" value="@Model.Product.Id" />
                <input type="hidden" name="Product.Description" value="@Model.Product.Description" />
                <input type="hidden" name="Product.PricePerDay" value="@Model.Product.PricePerDay" />
                <input type="hidden" name="Product.IsPercent" value="@Model.Product.IsPercent" />
                <input type="hidden" name="Product.LateFee" value="@Model.Product.LateFee" />
                <input type="hidden" name="Product.NumberOfDays" value="@Model.Product.NumberOfDays" />
                <input type="hidden" name="ExpectedEndDate" value="@Model.ExpectedEndDate" />
                <input type="hidden" name="TotalValue" value="@Model.Total" />
                
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default" formaction="Cancel" formmethod="post">Voltar</button>
                <button type="submit" class="btn btn-info pull-right" formaction="../CreateRental"
                        formmethod="post">Reservar</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
